@import url("https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700");
.highlight table td{padding:5px}
.highlight table pre{margin:0}
.highlight,.highlight .w{color:#d0d0d0}
.highlight .err{color:#151515;background-color:#ac4142}
.highlight .c,.highlight .cd,.highlight .cm,.highlight .c1,.highlight .cs{color:#888}
.highlight .cp{color:#f4bf75}
.highlight .nt{color:#f4bf75}
.highlight .o,.highlight .ow{color:#d0d0d0}
.highlight .p,.highlight .pi{color:#d0d0d0}
.highlight .gi{color:#90a959}
.highlight .gd{color:#ac4142}
.highlight .gh{color:#6a9fb5;font-weight:bold}
.highlight .k,.highlight .kn,.highlight .kp,.highlight .kr,.highlight .kv{color:#aa759f}
.highlight .kc{color:#d28445}
.highlight .kt{color:#d28445}
.highlight .kd{color:#d28445}
.highlight .s,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .sh,.highlight .sx,.highlight .s1{color:#90a959}
.highlight .sr{color:#75b5aa}
.highlight .si{color:#8f5536}
.highlight .se{color:#8f5536}
.highlight .nn{color:#f4bf75}
.highlight .nc{color:#f4bf75}
.highlight .no{color:#f4bf75}
.highlight .na{color:#6a9fb5}
.highlight .m,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .il,.highlight .mo,.highlight .mb,.highlight .mx{color:#90a959}
.highlight .ss{color:#90a959}
html{background:#ffdede;background:#ffdede linear-gradient(0deg, #ffdede 0%, #B5FFFC 100%) fixed;height:100%}
body{padding:50px 0;margin:0;font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;color:#555;font-weight:300;background:url("../images/checker.png") fixed;min-height:calc(100% - 100px)}
.wrapper{width:740px;margin:0 auto;background:#EEEEEE;border-radius:6px;box-shadow:0 0 6px #FF0000;border:2px solid #FF0000}
.header,.section,.footer{display:block}
a{color:#069;text-decoration:none;font-family:"Microsoft Jhenghei"}
p{margin:10px 0;padding:0;font-family:"Microsoft Jhenghei"}
strong{color:#222;font-weight:700}
.header{border-radius:6px 6px 0 0;background:#C6EAFA;background:linear-gradient(#DDFBFC, #C6EAFA);position:relative;padding:15px 20px;border-bottom:1px solid #B2D2E1}
.header h1{margin:1px 0;padding:0;font-size:28px;line-height:1.2;color:#069;text-shadow:rgba(255,255,255,0.9) 0 1px 0}
.header.without-description h1{margin:10px 0}
.header p{margin:1px 0;color:#61778B;width:300px;font-size:16px;line-height:1.2}
.header p.view{display:none;font-weight:700;text-shadow:rgba(255,255,255,0.9) 0 1px 0;-webkit-font-smoothing:antialiased}
.header p.view a{color:#06c}
.header p.view small{font-weight:400}
.header div{margin:0;padding:1px 0;position:absolute;z-index:6;right:20px;top:20px;height:45px;background:#5198DF;background:linear-gradient(#9599E2, #8BC6EC);border-radius:5px;box-shadow:inset rgba(255,255,255,0.45) 0 1px 0,inset rgba(0,0,0,0.2) 0 -1px 0;width:45px}
.section{padding:15px 20px;font-size:15px;border-top:1px solid #fff;background:linear-gradient(#fafafa, #EEEEEE 700px);border-radius:0 0 8px 8px;position:relative}
h1,h2,h3,h4,h5,h6{color:#222;padding:0;margin:10px 0;line-height:1.2;font-family:"Microsoft Jhenghei";line-height:1.2}
p,ul,ol,table,pre,dl{margin:10px 0}
h1,h2,h3{line-height:1.1}
h1{font-size:28px}
h2{color:#393939}
h3,h4,h5,h6{color:#494949}
blockquote{margin:0 -20px 20px;padding:15px 20px 1px 40px;font-style:italic;background:#ccc;background:rgba(0,0,0,0.06);color:#222}
img{max-width:100%}
code,pre{font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;color:#333;font-size:12px;overflow-x:auto}
pre{padding:20px;background:#3A3C42;color:#f8f8f2;margin:0 -20px 20px}pre code{color:#f8f8f2}
li pre{margin-left:-60px;padding-left:60px}
table{width:100%;border-collapse:collapse}
th,td{text-align:left;padding:5px 10px;border-bottom:1px solid #aaa}
dt{color:#222;font-weight:700}
th{color:#222}
small{font-size:11px}
hr{border:0;background:#aaa;height:1px;margin:0;line-height:1.2}
kbd{background-color:#fafbfc;border:1px solid #c6cbd1;border-bottom-color:#959da5;border-radius:3px;box-shadow:inset 0 -1px 0 #959da5;color:#444d56;display:inline-block;font-size:11px;line-height:10px;padding:3px 5px;vertical-align:middle}
.footer{width:640px;margin:0 auto;padding:20px 0 0;color:#6c7989;overflow:hidden}
.footer a{color:#fff;font-weight:bold}
.footer p{float:left}
.footer p+p{float:right}
@media print, screen and (max-width: 740px){
  body{padding:0}
  .wrapper{border-radius:0;box-shadow:none;width:100%}
  .footer{border-radius:0;padding:20px;width:auto}
  .footer p{float:none;margin:0;line-height:1.2}
  .footer p+p{float:none}
}
@media print, screen and (max-width: 580px){
  .header ul{display:none}
  .header p.view{display:block}
  .header p{width:100%}
}
@media print{
  .header p.view a small:before{content:'at https://github.com/'}
}
.widenotice{text-align:center;width:auto;height:auto;padding:8px 8px}
.绿蓝色渐变按钮,.蓝色渐变按钮,.橘红色渐变按钮,.紫色渐变按钮{transition:all 0.5s}
.绿蓝色渐变按钮{color: #FFFFFF;border-radius: 25px;background-color: #0093E9;background-image: linear-gradient(0deg, #0093E9 0%, #80D0C7 100%);padding: 5px 5px 5px 5px;width: fit-content;width: -webkit-fit-content;width: -moz-fit-content;}
.绿蓝色渐变按钮:hover{color: #FFFFFF;text-shadow:0 0 3px #FFFFFF;box-shadow: 0 0 6px #0093E9;border-radius: 25px;background-color: #0093E9;background-image: linear-gradient(0deg, #0093E9 0%, #80D0C7 100%);padding: 5px 5px 5px 5px;width: fit-content;width: -webkit-fit-content;width: -moz-fit-content;}
.绿蓝色渐变按钮:active{color: #FFFFFF;border-radius: 25px;background-color: #0093E9;background-image: linear-gradient(180deg, #0093E9 0%, #80D0C7 100%);padding: 5px 5px 5px 5px;width: fit-content;width: -webkit-fit-content;width: -moz-fit-content;}
.蓝色渐变按钮{color: #FFFFFF;border-radius: 25px;background-color: #0043de;background-image: linear-gradient(0deg, #0043de 0%, #00b8ff 100%);padding: 5px 5px 5px 5px;width: fit-content;width: -webkit-fit-content;width: -moz-fit-content;}
.蓝色渐变按钮:hover{color: #FFFFFF;text-shadow:0 0 3px #FFFFFF;box-shadow: 0 0 6px #0043de;border-radius: 25px;background-color: #0043de;background-image: linear-gradient(0deg, #0043de 0%, #00b8ff 100%);padding: 5px 5px 5px 5px;width: fit-content;width: -webkit-fit-content;width: -moz-fit-content;}
.蓝色渐变按钮:active{color: #FFFFFF;border-radius: 25px;background-color: #0043de;background-image: linear-gradient(180deg, #0043de 0%, #00b8ff 100%);padding: 5px 5px 5px 5px;width: fit-content;width: -webkit-fit-content;width: -moz-fit-content;}
.橘红色渐变按钮{color: #FFFFFF;border-radius: 25px;background-color: #ff0000;background-image: linear-gradient(0deg, #ff0000 0%, #ffa700 100%);padding: 5px 5px 5px 5px;width: fit-content;width: -webkit-fit-content;width: -moz-fit-content;}
.橘红色渐变按钮:hover{color: #FFFFFF;text-shadow:0 0 3px #FFFFFF;box-shadow: 0 0 6px #ff0000;border-radius: 25px;background-color: #ff0000;background-image: linear-gradient(0deg, #ff0000 0%, #ffa700 100%);padding: 5px 5px 5px 5px;width: fit-content;width: -webkit-fit-content;width: -moz-fit-content;}
.橘红色渐变按钮:active{color: #FFFFFF;border-radius: 25px;background-color: #ff0000;background-image: linear-gradient(180deg, #ff0000 0%, #ffa700 100%);padding: 5px 5px 5px 5px;width: fit-content;width: -webkit-fit-content;width: -moz-fit-content;}
.紫色渐变按钮{color: #FFFFFF;border-radius: 25px;background-color: #8621fd;background-image: linear-gradient(0deg, #8621fd 0%, #ec21ff 100%);padding: 5px 5px 5px 5px;width: fit-content;width: -webkit-fit-content;width: -moz-fit-content;}
.紫色渐变按钮:hover{color: #FFFFFF;text-shadow:0 0 3px #FFFFFF;box-shadow: 0 0 6px #8621fd;border-radius: 25px;background-color: #8621fd;background-image: linear-gradient(0deg, #8621fd 0%, #ec21ff 100%);padding: 5px 5px 5px 5px;width: fit-content;width: -webkit-fit-content;width: -moz-fit-content;}
.紫色渐变按钮:active{color: #FFFFFF;border-radius: 25px;background-color: #8621fd;background-image: linear-gradient(180deg, #8621fd 0%, #ec21ff 100%);padding: 5px 5px 5px 5px;width: fit-content;width: -webkit-fit-content;width: -moz-fit-content;}
.按钮链接{margin: 5px 15px 5px 0px;display:inline-block;width: fit-content;width: -webkit-fit-content;width: -moz-fit-content;}
